/* Page header */

.page-header {
  border: 1px solid #ececec;

  padding-top: 24px;
  padding-bottom: 25px;

  .container {
    display: flex;
    align-items: center;
  }
}

/* Site-nav */

.navigation {
  display: flex;
}

.site-nav {
  display: flex;
  align-items: center;

  .item:not(:last-child) {
    margin-right: 50px;
  }

  .link {
    color: $title-text-color;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 0;
    padding-right: 0;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }

  .link.current {
    color: $accent-color;
  }
}

.studio {
  position: relative;

  &::after {
    display: block;
    position: absolute;
    content: "";

    top: 95%;
    left: 0;
    width: 100%;
    height: 4px;

    background: #2196f3;
    border-radius: 2px;
  }
}

/* Information */

.contacts {
  display: inline-flex;
  align-items: center;

  margin-left: auto;

  color: $primary-text-color;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  & .item {
    display: flex;
    align-items: center;
  }

  .item:not(:last-child) {
    margin-right: 50px;
  }
}

.contacts-link {
  display: flex;
  align-items: center;
  color: $primary-text-color;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.envelope-svg {
  align-items: center;
  width: 16px;
  height: 12px;
  margin-right: 10px;
  align-items: center;
  fill: $primary-text-color;
  cursor: pointer;
}

.smartphone-svg {
  align-items: center;
  width: 10px;
  height: 16px;
  margin-right: 10px;
  align-items: center;
  fill: $primary-text-color;
  cursor: pointer;
}

.envelope-svg,
.smartphone-svg {
  fill: currentColor;
}
